In [1]:
import numpy as np

In [220]:
#  Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array.

original_list = list([12.23,100,36.32])
type(original_list)

list

In [221]:
array = np.array(original_list)
array

array([ 12.23, 100.  ,  36.32])

In [222]:
type(array)

numpy.ndarray

In [223]:

# Write a NumPy program to create a 3x3 matrix with values ranging from 2 to 10

In [227]:
np.arange(2,11).reshape((3,3))

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [228]:
# Write a NumPy program to create a null vector of size 10 and update the sixth value to 11

array_zero = np.zeros(11
                     )

In [229]:
array_zero

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [230]:
array_zero[7] = 11

In [231]:
array_zero

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0., 11.,  0.,  0.,  0.])

In [236]:
# Write a NumPy program to create an array with values ranging from 12 to 38.

original = np.arange(12,39)
original

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35, 36, 37, 38])

In [239]:
#  Write a NumPy program to reverse an array (the first element becomes the last).

reverse_array = original[::-1]
reverse_array

array([38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22,
       21, 20, 19, 18, 17, 16, 15, 14, 13, 12])

In [240]:
# Write a NumPy program to convert an array to a floating type. 

original_array = np.array([1,2,3,4])

In [243]:
original_array = original_array.astype(dtype = np.float32)
original_array

array([1., 2., 3., 4.], dtype=float32)

In [255]:
# Write a NumPy program to create a 2D array with 1 on the border and 0 inside

x = np.ones((5,5))
x

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [256]:
x[1:-1,1:-1]=0

In [257]:
x

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [258]:
# Write a NumPy program to add a border (filled with 0's) around an existing array.
x = np.ones((5,5))
x

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [263]:
x = np.pad(x, pad_width=1, mode='constant', constant_values=0)

In [264]:
x

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

In [269]:
# Write a NumPy program to create an 8x8 matrix and fill it with a checkerboard pattern.

x = np.ones((3,3))
x = np.zeros((8,8),dtype=int)
x

array([[0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0]])

In [270]:
x[1::2,::2] = 1
x[::2,1::2] = 1
x

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

In [271]:
#  Write a NumPy program to convert a list and tuple into arrays.

list_array = np.array(original_list)

In [272]:
list_array

array([ 12.23, 100.  ,  36.32])

In [275]:
my_tuple = ([8, 4, 6], [1, 2, 3])
            
tuple_array = np.asarray(my_tuple)
tuple_array

array([[8, 4, 6],
       [1, 2, 3]])

In [280]:
#  Write a NumPy program to append values to the end of an array.
array = np.array([10,20,30])
added_value = list([40,50,60,70,80,90])
added_value

[40, 50, 60, 70, 80, 90]

In [282]:
array = np.append(array,added_value)

In [283]:
array

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [286]:
# Write a NumPy program to create an empty and full array

x = np.empty((3,4))
x

array([[8.70783292e-312, 2.81617418e-322, 0.00000000e+000,
        0.00000000e+000],
       [1.18831764e-312, 6.82116729e-043, 5.28327738e-091,
        9.17103577e-072],
       [8.40643303e+164, 8.44628636e+169, 6.48224659e+170,
        4.93432906e+257]])

In [290]:
x = np.full((3,4),fill_value=6)

In [291]:
print(x)

[[6 6 6 6]
 [6 6 6 6]
 [6 6 6 6]]

In [292]:
# Write a NumPy program to convert Centigrade degrees into Fahrenheit degrees. Centigrade values are stored in a NumPy array

fvalues = [0, 12, 45.21, 34, 99.91, 32]
F = np.array(fvalues)

In [296]:
c=(5*F/9 - 5*32/9).round(2)

In [297]:
c

array([-17.78, -11.11,   7.34,   1.11,  37.73,   0.  ])

In [298]:
# Write a NumPy program to find the real and imaginary parts of an array of complex numbers.
x = np.sqrt([1+0j])
y = np.sqrt([0+1j])

In [299]:
x.real
x.imag

array([0.])

In [300]:
y.real

array([0.70710678])

In [301]:
y.imag

array([0.70710678])

In [304]:
# Write a NumPy program to find the number of elements in an array. It also finds the length of one array element in bytes and the total bytes consumed by the elements.

print(x.size)

1

In [305]:
x.size * x.itemsize

16

In [306]:
# Write a NumPy program to test whether each element of a 1-D array is also present in a second array
array_1 = np.array([0,10,20,40,60])
array_2 = np.array([0,40])

In [307]:
array_1

array([ 0, 10, 20, 40, 60])

In [308]:
array_2

array([ 0, 40])

In [310]:
np.intersect1d(array_1,array_2)

array([ 0, 40])

In [311]:
# Write a NumPy program to test whether each element of a 1-D array is also present in a second array.

In [315]:
np.in1d(array_1,array_2)

array([ True, False, False,  True, False])

In [316]:
# Write a NumPy program to get the unique elements of an array

array=np.array([10,10,20,20,30,30])

In [317]:
array

array([10, 10, 20, 20, 30, 30])

In [318]:
np.unique(array)

array([10, 20, 30])

In [319]:
# Write a NumPy program to find the set difference between two arrays. The set difference will return sorted, distinct values in array1 that are not in

array_1 = np.array([0,10,20,40,60,80])
array_2 = np.array([10,30,40,50,70,90])

In [320]:
np.setdiff1d(array_1,array_2)

array([ 0, 20, 60, 80])

In [321]:
# Write a NumPy program to find the set exclusive-or of two arrays. Set exclusive-or will return sorted, distinct values in only one (not both) of the input arrays.4

np.setxor1d(array_1,array_2)

array([ 0, 20, 30, 50, 60, 70, 80, 90])

In [322]:
# Write a NumPy program to find the union of two arrays. Union will return a unique, sorted array of values in each of the two input arrays

np.union1d(array_1,array_2)

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [323]:
#  Write a NumPy program to test whether all elements in an array evaluate to True.

a[a[:] == True]

array([], dtype=float64)

In [327]:
# Write a NumPy program to construct an array by repeating
sample_array = np.array([1,2,3,4])
sample_array = np.tile(array,2)
sample_array

array([10, 10, 20, 20, 30, 30, 10, 10, 20, 20, 30, 30])

In [329]:
x = np.repeat(3, 4)
x = np.array([[1,2],[3,4]])
print(np.repeat(x, 2))

[1 1 2 2 3 3 4 4]

In [332]:
# Write a NumPy program to find the indices of the maximum and minimum values along the given axis of an array. 

original_array = np.array([1,2,3,4,5,6])
np.argmax(original_array)
np.argmin(original_array)

0

In [334]:
# Write a NumPy program to compare two arrays using NumPy.

array_a = [1,2]
array_b = [4,5]

In [337]:
np.greater_equal(array_a,array_b)

array([False, False])

In [338]:
np.greater(array_a,array_b)

array([False, False])

In [340]:
# Write a NumPy program to sort along the first and last axes of an array.

a = [[2,5],[4,4]]
np.sort(a,axis=0)

array([[2, 4],
       [4, 5]])

In [342]:
first_names =    ('Margery', 'Betsey', 'Shelley', 'Lanell', 'Genesis')
last_names = ('Woolum', 'Battle', 'Plotner', 'Brien', 'Stahl')

In [343]:
np.lexsort((first_names,last_names))

array([1, 3, 2, 4, 0], dtype=int64)

In [5]:
# Write a NumPy program to get the values and indices of the elements that are bigger than 10 in a given array. 

original_array = np.array([[0,10,20],[20,30,40]])

indices = np.where(original_array[:]>10)

In [7]:
original_array[original_array > 10]

array([20, 20, 30, 40])

In [8]:
#  Write a NumPy program to save a NumPy array to a text file. 

np.savetxt("file",original_array)

In [12]:
#  Write a NumPy program to find the memory size of a NumPy array. 

memory_size = original_array.nbytes

In [15]:
print("The memory size is {} bytes".format(memory_size))

The memory size is 24 bytes

In [16]:
# Write a NumPy program to create an array of ones and zeros.

array = np.zeros(2,dtype = np.float32)

In [17]:
array

array([0., 0.], dtype=float32)

In [18]:
array = array.astype(dtype = np.int32)

In [19]:
array

array([0, 0])

In [20]:
#  Write a NumPy program to change an array's dimension. 

a= np.arange(6)

In [21]:
a.shape

(6,)

In [30]:
np.random.random((1,9))

array([[0.64627781, 0.99673958, 0.47246377, 0.1596238 , 0.84090129,
        0.29805551, 0.04097332, 0.99756442, 0.62287455]])

In [31]:
# Write a NumPy program to create a contiguous flattened array. a

original_array = np.array([[10,20,30],[20,40,50]])
original_array

array([[10, 20, 30],
       [20, 40, 50]])

In [33]:
original_array.flatten()

array([10, 20, 30, 20, 40, 50])

In [35]:
# Write a NumPy program to create a 2-dimensional array of size 2 x 3 (composed of 4-byte integer elements), also print the shape, type and data type of the array. 
x = np.array([[2, 4, 6], [6, 8, 10]], np.int32)
print(type(x))	
print(x.shape)
print(x.dtype)

<class 'numpy.ndarray'>
(2, 3)
int32

In [36]:
# Write a NumPy program to create another shape from an array without changing its data. 
x.shape

(2, 3)

In [37]:
x.reshape(3,2)

array([[ 2,  4],
       [ 6,  6],
       [ 8, 10]])

In [38]:
# Write a NumPy program to change an array's data type.

original_array = np.array([[2,4,6],[6,8,10]]).astype(dtype = np.float64)

In [39]:
original_array

array([[ 2.,  4.,  6.],
       [ 6.,  8., 10.]])

In [40]:
# Write a NumPy program to create a new array of 3*5, filled with 2. 

array = np.full((3,5),fill_value=2)

In [41]:
array

array([[2, 2, 2, 2, 2],
       [2, 2, 2, 2, 2],
       [2, 2, 2, 2, 2]])

In [42]:
#   Write a NumPy program to create an array of 10's with the same shape and type as the given array
    
    x = np.arange(4, dtype=np.int64)

In [45]:
array = np.full_like(x,fill_value=10)

In [46]:
array

array([10, 10, 10, 10], dtype=int64)

In [47]:
# Write a NumPy program to create a 3-D array with ones on a diagonal and zeros elsewhere. 

np.eye(3,)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [58]:

my_array = np.zeros((4, 4))

diagonal_values = np.array([1, 2, 3, 4])

np.fill_diagonal(my_array, diagonal_values)

print(my_array)

[[1. 0. 0. 0.]
 [0. 2. 0. 0.]
 [0. 0. 3. 0.]
 [0. 0. 0. 4.]]

In [59]:
#  Write a NumPy program to create a 1-D array with values from 0 to 50 and an array from 10 to 50.

np.arange(0,50)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [60]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

In [61]:
#  Write a NumPy program to create a 1-D array of 30 evenly spaced elements between 2.5 and 6.5, inclusive. 

np.linspace(2.5,6.5,30)

array([2.5       , 2.63793103, 2.77586207, 2.9137931 , 3.05172414,
       3.18965517, 3.32758621, 3.46551724, 3.60344828, 3.74137931,
       3.87931034, 4.01724138, 4.15517241, 4.29310345, 4.43103448,
       4.56896552, 4.70689655, 4.84482759, 4.98275862, 5.12068966,
       5.25862069, 5.39655172, 5.53448276, 5.67241379, 5.81034483,
       5.94827586, 6.0862069 , 6.22413793, 6.36206897, 6.5       ])

In [62]:
# Write a NumPy program to create a 1-D array of 20 elements spaced evenly on a log scale between 2. and 5., exclusive

np.logspace(2,5,20)

array([   100.        ,    143.84498883,    206.91380811,    297.63514416,
          428.13323987,    615.84821107,    885.86679041,   1274.2749857 ,
         1832.98071083,   2636.65089873,   3792.69019073,   5455.59478117,
         7847.59970351,  11288.37891685,  16237.76739189,  23357.2146909 ,
        33598.18286284,  48329.30238572,  69519.27961776, 100000.        ])

In [63]:
# Write a NumPy program to create an array like the one below.

x= np.tri(4,3,-1)
x

array([[0., 0., 0.],
       [1., 0., 0.],
       [1., 1., 0.],
       [1., 1., 1.]])

In [69]:
# Write a NumPy program to create an array like the one below.

x = np.triu(np.arange(2,14).reshape(4,3),-1)

In [70]:
x

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 0,  9, 10],
       [ 0,  0, 13]])

In [72]:
# Write a NumPy program to collapse a 3-D array into a one-dimensional array.

a = np.zeros((3,3))

In [73]:
a

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [78]:
a=np.eye(3,)

In [80]:
a.flatten()

array([1., 0., 0., 0., 1., 0., 0., 0., 1.])

In [87]:
# Write a NumPy program to find the 4th element of a specified array. 

original_array = np.array([[2,4,6],[6,8,10]])
flatten_array = original_array.flatten()

In [88]:
flatten_array[3]

6

In [89]:
print("Fourth element is {}".format(flatten_array[3]))

Fourth element is 6

In [92]:
# Write a NumPy program to change two array axes.

sample_array = np.array([[1,2,3]])
sample_array

array([[1, 2, 3]])

In [93]:
np.swapaxes(sample_array,0,1)

array([[1],
       [2],
       [3]])

In [94]:
# Write a NumPy program to move array axes to alternate positions. Other axes remain in their original order.

original_array = np.array([3,4,2])

In [95]:
original_array

array([3, 4, 2])

In [99]:
np.moveaxis(original_array,0,-1)

array([3, 4, 2])

In [100]:
np.moveaxis(original_array,-1,0)

array([3, 4, 2])

In [103]:
# Write a NumPy program to move the specified axis backwards, until it lies in a given position. 

original_array = np.array([2,3,4,5])
original_array

array([2, 3, 4, 5])

In [111]:

# Write a NumPy program to convert specified inputs into arrays with at least one dimension. 
x= 12.0
print(np.atleast_1d(x))
x = np.arange(6.0).reshape(2, 3)
print(np.atleast_1d(x))
print(np.atleast_1d(1, [3, 4]))

[12.]
[[0. 1. 2.]
 [3. 4. 5.]]
[array([1]), array([3, 4])]

In [112]:
# Write a NumPy program to insert a new axis within a 2-D array. 
x = np.zeros((3, 4))
x

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [113]:
y = np.expand_dims(x,axis=1)

In [114]:
y

array([[[0., 0., 0., 0.]],

       [[0., 0., 0., 0.]],

       [[0., 0., 0., 0.]]])

In [115]:
y.shape

(3, 1, 4)

In [118]:
# Write a NumPy program to concatenate two 2-dimensional arrays. 

a = np.array([[0, 1, 3], [5, 7, 9]])
b = np.array([[0, 2, 4], [6, 8, 10]])

c = np.concatenate((a,b),axis =1 )
print(c)

[[ 0  1  3  0  2  4]
 [ 5  7  9  6  8 10]]

In [120]:
# Write a NumPy program to convert 1-D arrays as columns into a 2-D array. 

sample_array = np.array([[10,20,30],[40,50,60]])
sample_array

array([[10, 20, 30],
       [40, 50, 60]])

In [123]:
sample_array.reshape((3,2))

array([[10, 20],
       [30, 40],
       [50, 60]])

In [124]:
# .Write a NumPy program to split an array of 14 elements into 3 arrays, each with 2, 4, and 8 elements in the original order.

original_array = np.arange(15
                          )

In [125]:
original_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [128]:
array_1 = original_array[0:2]

In [129]:
array_1

array([0, 1])

In [130]:
array_2 = original_array[2:6]

In [131]:
array_2

array([2, 3, 4, 5])

In [132]:
np.split(original_array,[2,6])

[array([0, 1]),
 array([2, 3, 4, 5]),
 array([ 6,  7,  8,  9, 10, 11, 12, 13, 14])]

In [135]:
# Write a NumPy program that splits an array of shape 4x4 into two arrays along the second axis.
# Sample array :

x = np.arange(16).reshape(4,4)

In [136]:
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [137]:
np.hsplit(x,[2,6])

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13]]),
 array([[ 2,  3],
        [ 6,  7],
        [10, 11],
        [14, 15]]),
 array([], shape=(4, 0), dtype=int32)]

In [138]:
# . Write a NumPy program to get the number of non-zero elements in an array.
# Expected Output:

original_array = np.array([[0,10,20],[20,30,40]])

In [139]:
original_array

array([[ 0, 10, 20],
       [20, 30, 40]])

In [140]:
original_array[:] >=0

array([[ True,  True,  True],
       [ True,  True,  True]])

In [141]:
np.count_nonzero(original_array)

5

In [142]:
#  Write a NumPy program to create a 5x5 matrix with row values ranging from 0 to 4. 

x=np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [146]:
# Write a NumPy program to test whether specified values are present in an array. 
x = np.array([[1.12, 2.0, 3.45], [2.33, 5.12, 6.0]], float) 

5.12 in x

True

In [152]:
# Write a NumPy program to create a vector of size 10 with values ranging from 0 to 1, both excluded. 

np.linspace(0,1,10,endpoint=True)

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

In [153]:
# Write a NumPy program to make an array immutable

original_array.flags.writeable == False

False

In [157]:
original_array[-1][-1] == 800

False

In [158]:
original_array

array([[ 0, 10, 20],
       [20, 30, 40]])

In [160]:
# Write a NumPy program to create an array with 10^3 elements. 

np.arange(1e3
         )

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112., 113., 114., 115., 116., 117., 118., 119., 120.,
       121., 122., 123., 124., 125., 126., 127., 128., 129., 130., 131.,
       132., 133., 134., 135., 136., 137., 138., 139., 140., 141., 142.,
       143., 144., 145., 146., 147., 148., 149., 150., 151., 152., 153.,
       154., 155., 156., 157., 158., 159., 160., 161., 162., 163., 164.,
       165., 166., 167., 168., 169., 170., 171., 172., 173., 174., 175.,
       176., 177., 178., 179., 180., 181., 182., 183., 184., 185., 186.,
       187., 188., 189., 190., 191., 192., 193., 194., 195., 196., 197.,
       198., 199., 200., 201., 202., 203., 204., 205., 206., 207., 208.,
       209., 210., 211., 212., 213., 214., 215., 216., 217., 218., 219.,
       220., 221., 222., 223., 224., 225., 226., 227., 228., 229., 230.,
       231., 232., 233., 234., 235., 236., 237., 238., 239., 240., 241.,
       242., 243., 244., 245., 246., 247., 248., 249., 250., 251., 252.,
       253., 254., 255., 256., 257., 258., 259., 260., 261., 262., 263.,
       264., 265., 266., 267., 268., 269., 270., 271., 272., 273., 274.,
       275., 276., 277., 278., 279., 280., 281., 282., 283., 284., 285.,
       286., 287., 288., 289., 290., 291., 292., 293., 294., 295., 296.,
       297., 298., 299., 300., 301., 302., 303., 304., 305., 306., 307.,
       308., 309., 310., 311., 312., 313., 314., 315., 316., 317., 318.,
       319., 320., 321., 322., 323., 324., 325., 326., 327., 328., 329.,
       330., 331., 332., 333., 334., 335., 336., 337., 338., 339., 340.,
       341., 342., 343., 344., 345., 346., 347., 348., 349., 350., 351.,
       352., 353., 354., 355., 356., 357., 358., 359., 360., 361., 362.,
       363., 364., 365., 366., 367., 368., 369., 370., 371., 372., 373.,
       374., 375., 376., 377., 378., 379., 380., 381., 382., 383., 384.,
       385., 386., 387., 388., 389., 390., 391., 392., 393., 394., 395.,
       396., 397., 398., 399., 400., 401., 402., 403., 404., 405., 406.,
       407., 408., 409., 410., 411., 412., 413., 414., 415., 416., 417.,
       418., 419., 420., 421., 422., 423., 424., 425., 426., 427., 428.,
       429., 430., 431., 432., 433., 434., 435., 436., 437., 438., 439.,
       440., 441., 442., 443., 444., 445., 446., 447., 448., 449., 450.,
       451., 452., 453., 454., 455., 456., 457., 458., 459., 460., 461.,
       462., 463., 464., 465., 466., 467., 468., 469., 470., 471., 472.,
       473., 474., 475., 476., 477., 478., 479., 480., 481., 482., 483.,
       484., 485., 486., 487., 488., 489., 490., 491., 492., 493., 494.,
       495., 496., 497., 498., 499., 500., 501., 502., 503., 504., 505.,
       506., 507., 508., 509., 510., 511., 512., 513., 514., 515., 516.,
       517., 518., 519., 520., 521., 522., 523., 524., 525., 526., 527.,
       528., 529., 530., 531., 532., 533., 534., 535., 536., 537., 538.,
       539., 540., 541., 542., 543., 544., 545., 546., 547., 548., 549.,
       550., 551., 552., 553., 554., 555., 556., 557., 558., 559., 560.,
       561., 562., 563., 564., 565., 566., 567., 568., 569., 570., 571.,
       572., 573., 574., 575., 576., 577., 578., 579., 580., 581., 582.,
       583., 584., 585., 586., 587., 588., 589., 590., 591., 592., 593.,
       594., 595., 596., 597., 598., 599., 600., 601., 602., 603., 604.,
       605., 606., 607., 608., 609., 610., 611., 612., 613., 614., 615.,
       616., 617., 618., 619., 620., 621., 622., 623., 624., 625., 626.,
       627., 628., 629., 630., 631., 632., 633., 634., 635., 636., 637.,
       638., 639., 640., 641., 642., 643., 644., 645., 646., 647., 648.,
       649., 650., 651., 652., 653., 654., 655., 656., 657., 658., 659.,
       660., 661., 662., 663., 664., 665., 666., 667., 668., 669., 670.,
       671., 672., 673., 674., 675., 676., 677., 678., 679., 680., 681.,
       682., 683., 684., 685., 686., 687., 688., 689., 690., 691., 692.,
       693., 694., 695., 696., 697., 698., 699., 700., 701., 702., 703.,
       704., 705., 706., 707., 708., 709., 710., 711., 712., 713., 714.,
       715., 716., 717., 718., 719., 720., 721., 722., 723., 724., 725.,
       726., 727., 728., 729., 730., 731., 732., 733., 734., 735., 736.,
       737., 738., 739., 740., 741., 742., 743., 744., 745., 746., 747.,
       748., 749., 750., 751., 752., 753., 754., 755., 756., 757., 758.,
       759., 760., 761., 762., 763., 764., 765., 766., 767., 768., 769.,
       770., 771., 772., 773., 774., 775., 776., 777., 778., 779., 780.,
       781., 782., 783., 784., 785., 786., 787., 788., 789., 790., 791.,
       792., 793., 794., 795., 796., 797., 798., 799., 800., 801., 802.,
       803., 804., 805., 806., 807., 808., 809., 810., 811., 812., 813.,
       814., 815., 816., 817., 818., 819., 820., 821., 822., 823., 824.,
       825., 826., 827., 828., 829., 830., 831., 832., 833., 834., 835.,
       836., 837., 838., 839., 840., 841., 842., 843., 844., 845., 846.,
       847., 848., 849., 850., 851., 852., 853., 854., 855., 856., 857.,
       858., 859., 860., 861., 862., 863., 864., 865., 866., 867., 868.,
       869., 870., 871., 872., 873., 874., 875., 876., 877., 878., 879.,
       880., 881., 882., 883., 884., 885., 886., 887., 888., 889., 890.,
       891., 892., 893., 894., 895., 896., 897., 898., 899., 900., 901.,
       902., 903., 904., 905., 906., 907., 908., 909., 910., 911., 912.,
       913., 914., 915., 916., 917., 918., 919., 920., 921., 922., 923.,
       924., 925., 926., 927., 928., 929., 930., 931., 932., 933., 934.,
       935., 936., 937., 938., 939., 940., 941., 942., 943., 944., 945.,
       946., 947., 948., 949., 950., 951., 952., 953., 954., 955., 956.,
       957., 958., 959., 960., 961., 962., 963., 964., 965., 966., 967.,
       968., 969., 970., 971., 972., 973., 974., 975., 976., 977., 978.,
       979., 980., 981., 982., 983., 984., 985., 986., 987., 988., 989.,
       990., 991., 992., 993., 994., 995., 996., 997., 998., 999.])

In [171]:
# Write a NumPy program to create and display every element of a NumPy array.

x = np.arange(12).reshape(3, 4)

print(x[:])

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [172]:
#  Write a NumPy program to create a 5x5x5 cube of 1's. 

np.ones((5,5,5))

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

In [173]:
# Write a NumPy program to create an array of (3, 4) shapes, multiply every element value by 3 and display the result array.

original_array = np.arange(12).reshape(3,4)

In [174]:
original_array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [175]:
original_array = original_array * 3

In [176]:
original_array

array([[ 0,  3,  6,  9],
       [12, 15, 18, 21],
       [24, 27, 30, 33]])

In [177]:
#  Write a NumPy program to combine a one and two dimensional array together and display their elements.

In [178]:
x = np.arange(4)
print("One dimensional array:")
print(x)
y = np.arange(8).reshape(2,4)
print("Two dimensional array:")
print(y)
for a, b in np.nditer([x,y]):
    print("%d:%d" % (a,b),)

One dimensional array:
[0 1 2 3]
Two dimensional array:
[[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7

In [184]:
# Write a NumPy program to create an array of zeros and three column types (integer, floating, and character).

x = np.zeros((3,), dtype=('i4,f4,a40'))
new_data = [(1, 2., "Albert Einstein"), (2, 2., "Edmond Halley"), (3, 3., "Gertrude B. Elion")]
x[:] = new_data

In [185]:
print(x)

[(1, 2., b'Albert Einstein') (2, 2., b'Edmond Halley')
 (3, 3., b'Gertrude B. Elion')]

In [191]:
# Write a NumPy program to create a function cube for all array elements.

original_array = np.array([1,2,3])
new_array = np.power(original_array,3
                    )

In [192]:
new_array

array([ 1,  8, 27], dtype=int32)

In [193]:
# Write a NumPy program to create an array of (3, 4) shapes and convert the array elements into smaller chunks.

x= np.arange(12).reshape(3, 4)

In [194]:
np.transpose(x)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [195]:
# Write a NumPy program to create a record array from a (flat) list of arrays.
# Sample arrays: [1,2,3,4], ['Red', 'Green', 'White', 'Orange'], [12.20,15,20,40]

a1=np.array([1,2,3,4])
a2=np.array(['Red','Green','White','Orange'])
a3=np.array([12.20,15,20,40])

In [196]:
results = np.core.records.fromarrays([a1,a2,a3],names='a,b,c')

In [197]:
print(results)

[(1, 'Red', 12.2) (2, 'Green', 15. ) (3, 'White', 20. )
 (4, 'Orange', 40. )]

In [198]:
#  Write a NumPy program to convert a NumPy array into a Python list structure.
# Expected Output:

original_array = np.array([[0,1],[2,3],[4,5]])
original_array

array([[0, 1],
       [2, 3],
       [4, 5]])

In [200]:
list = original_array.tolist()

In [201]:
print(list)

[[0, 1], [2, 3], [4, 5]]

In [202]:
# Write a NumPy program to access an array by column. 

original_array

array([[0, 1],
       [2, 3],
       [4, 5]])

In [203]:
original_array[0]

array([0, 1])

In [204]:
# Write a NumPy program to convert a NumPy array of floating values to a numpy array of integer values.

x= np.array([[12.0, 12.51], [2.34, 7.98], [25.23, 36.50]])
x

array([[12.  , 12.51],
       [ 2.34,  7.98],
       [25.23, 36.5 ]])

In [205]:
x.astype(dtype = np.int32)

array([[12, 12],
       [ 2,  7],
       [25, 36]])

In [206]:
# Write a NumPy program to display a NumPy array of floating values with precision.

x=np.array([ 0.26153123, 0.52760141, 0.5718299, 0.5927067, 0.7831874, 0.69746349,             
  0.35399976, 0.99469633, 0.0694458, 0.54711478])

In [207]:
x

array([0.26153123, 0.52760141, 0.5718299 , 0.5927067 , 0.7831874 ,
       0.69746349, 0.35399976, 0.99469633, 0.0694458 , 0.54711478])

In [208]:
np.set_printoptions(precision=3)

In [209]:
x

array([0.262, 0.528, 0.572, 0.593, 0.783, 0.697, 0.354, 0.995, 0.069,
       0.547])

In [210]:
# Write a NumPy program to suppress the use of scientific notation for small numbers in a NumPy array. 

x=np.array([1.6e-10, 1.6, 1200, .235])

In [211]:
np.set_printoptions(suppress=True)

In [212]:
x

array([   0.   ,    1.6  , 1200.   ,    0.235])

In [217]:
# Write a NumPy program to add an extra column to a NumPy array.

array_1 = np.array([[10,20,30],[40,50,60]])
array_2 = np.array([[100],[200]])

In [218]:
array_1

array([[10, 20, 30],
       [40, 50, 60]])

In [219]:
array_2

array([[100],
       [200]])

In [221]:
np.append(array_1,array_2,1)

array([[ 10,  20,  30, 100],
       [ 40,  50,  60, 200]])

In [223]:
# Write a NumPy program to find distinct rows in a NumPy array.

x = np.array([[20, 20, 20, 0],
              [0, 20, 20, 20],
              [0, 20, 20, 20],
              [20, 20, 20, 0],
              [10, 20, 20,20]])
print("Original array:")
print(x)

Original array:
[[20 20 20  0]
 [ 0 20 20 20]
 [ 0 20 20 20]
 [20 20 20  0]
 [10 20 20 20]]

In [224]:
y = np.ascontiguousarray(x).view(np.dtype((np.void, x.dtype.itemsize * x.shape[1])))
_, idx = np.unique(y, return_index=True)

unique_result = x[idx]
print("Unique rows of the above array:")
print(unique_result)

Unique rows of the above array:
[[ 0 20 20 20]
 [10 20 20 20]
 [20 20 20  0]]

In [225]:
# Write a NumPy program to replace all elements of NumPy array that are greater than the specified array.
x = np.array([[ 0.42436315, 0.48558583, 0.32924763], [ 0.7439979,0.58220701,0.38213418], [ 0.5097581,0.34528799,0.1563123 ]])
print("Original array:")
print(x)

Original array:
[[0.424 0.486 0.329]
 [0.744 0.582 0.382]
 [0.51  0.345 0.156]]

In [229]:
x[x>.5] = 0.5

In [230]:
x

array([[0.424, 0.486, 0.329],
       [0.5  , 0.5  , 0.382],
       [0.5  , 0.345, 0.156]])

In [233]:
#  Write a NumPy program to remove specific elements from a NumPy array

original_array = np.linspace(10,100,10)

In [234]:
original_array

array([ 10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

In [235]:
delete_index = [0,3,4]

In [236]:
np.delete(original_array,delete_index)

array([ 20.,  30.,  60.,  70.,  80.,  90., 100.])

In [237]:
#  Write a NumPy program to replace the negative values in a NumPy array with 0. 

original_array = np.array([-1,-4,0,2,3,4,5,-6])
original_array

array([-1, -4,  0,  2,  3,  4,  5, -6])

In [241]:
original_array[original_array[:] < 0] = 0

In [242]:
original_array

array([0, 0, 0, 2, 3, 4, 5, 0])

In [243]:
# Write a NumPy program to remove all rows in a NumPy array that contain non-numeric values. 
x = np.array([[1,2,3], [4,5,np.nan], [7,8,9], [True, False, True]])
x

array([[ 1.,  2.,  3.],
       [ 4.,  5., nan],
       [ 7.,  8.,  9.],
       [ 1.,  0.,  1.]])

In [244]:
x[~np.isnan(x).any(axis = 1)]

array([[1., 2., 3.],
       [7., 8., 9.],
       [1., 0., 1.]])

In [245]:
# Write a NumPy program to select indices satisfying multiple conditions in a NumPy array.
a = np.array([97, 101, 105, 111, 117])
b = np.array(['a','e','i','o','u'])

In [246]:
a<100

array([ True, False, False, False, False])

array([False,  True,  True,  True,  True])

In [248]:
b[(100<a)&(a<110)]

array(['e', 'i'], dtype='<U1')

In [253]:
# Write a NumPy program to get the magnitude of a vector in NumPy. 

original_array = np.array([1,2,3,4,5])
original_array

array([1, 2, 3, 4, 5])

In [254]:
np.linalg.norm(original_array)

7.416198487095663

In [255]:
# Write a NumPy program to count the frequency of distinct values in a NumPy array.

a = np.array( [10,10,20,10,20,20,20,30, 30,50,40,40] )

In [257]:
unique_elements , count_numbers = np.unique(a,return_counts=True)

In [259]:
np.asarray((unique_elements,count_numbers))

array([[10, 20, 30, 40, 50],
       [ 3,  4,  2,  2,  1]], dtype=int64)

In [260]:
# Write a NumPy program to check whether the NumPy array is empty or not. 

x= np.array([2,2])
y = np.array([])

In [261]:
x.size

2

In [262]:
y.size

0

In [263]:
# Write a NumPy program to divide each row by a vector element

x = np.array([[20,20,20],[30,30,30],[40,40,40]])
print("Original array:")
print(x)
v = np.array([20,30,40])
print("Vector:")

Original array:
[[20 20 20]
 [30 30 30]
 [40 40 40]]
Vector:

In [264]:
print(v)

[20 30 40]

In [266]:
x/v[:,None]

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [267]:
#  Write a NumPy program to sum and compute the product of a numpy array of elements.

original_array = np.array([10,20,30])
original_array

array([10, 20, 30])

In [268]:
np.sum(original_array)

60

In [269]:
np.product(original_array)

6000

In [270]:
# Write a NumPy program to print the full NumPy array, without truncation.

import numpy as np
import sys
nums = np.arange(2000)
np.set_printoptions(threshold=sys.maxsize)
print(nums)

[   0    1    2    3    4    5    6    7    8    9   10   11   12   13
   14   15   16   17   18   19   20   21   22   23   24   25   26   27
   28   29   30   31   32   33   34   35   36   37   38   39   40   41
   42   43   44   45   46   47   48   49   50   51   52   53   54   55
   56   57   58   59   60   61   62   63   64   65   66   67   68   69
   70   71   72   73   74   75   76   77   78   79   80   81   82   83
   84   85   86   87   88   89   90   91   92   93   94   95   96   97
   98   99  100  101  102  103  104  105  106  107  108  109  110  111
  112  113  114  115  116  117  118  119  120  121  122  123  124  125
  126  127  128  129  130  131  132  133  134  135  136  137  138  139
  140  141  142  143  144  145  146  147  148  149  150  151  152  153
  154  155  156  157  158  159  160  161  162  163  164  165  166  167
  168  169  170  171  172  173  174  175  176  177  178  179  180  181
  182  183  184  185  186  187  188  189  190  191  192  193  194  195
  196  197  198  199  200  201  202  203  204  205  206  207  208  209
  210  211  212  213  214  215  216  217  218  219  220  221  222  223
  224  225  226  227  228  229  230  231  232  233  234  235  236  237
  238  239  240  241  242  243  244  245  246  247  248  249  250  251
  252  253  254  255  256  257  258  259  260  261  262  263  264  265
  266  267  268  269  270  271  272  273  274  275  276  277  278  279
  280  281  282  283  284  285  286  287  288  289  290  291  292  293
  294  295  296  297  298  299  300  301  302  303  304  305  306  307
  308  309  310  311  312  313  314  315  316  317  318  319  320  321
  322  323  324  325  326  327  328  329  330  331  332  333  334  335
  336  337  338  339  340  341  342  343  344  345  346  347  348  349
  350  351  352  353  354  355  356  357  358  359  360  361  362  363
  364  365  366  367  368  369  370  371  372  373  374  375  376  377
  378  379  380  381  382  383  384  385  386  387  388  389  390  391
  392  393  394  395  396  397  398  399  400  401  402  403  404  405
  406  407  408  409  410  411  412  413  414  415  416  417  418  419
  420  421  422  423  424  425  426  427  428  429  430  431  432  433
  434  435  436  437  438  439  440  441  442  443  444  445  446  447
  448  449  450  451  452  453  454  455  456  457  458  459  460  461
  462  463  464  465  466  467  468  469  470  471  472  473  474  475
  476  477  478  479  480  481  482  483  484  485  486  487  488  489
  490  491  492  493  494  495  496  497  498  499  500  501  502  503
  504  505  506  507  508  509  510  511  512  513  514  515  516  517
  518  519  520  521  522  523  524  525  526  527  528  529  530  531
  532  533  534  535  536  537  538  539  540  541  542  543  544  545
  546  547  548  549  550  551  552  553  554  555  556  557  558  559
  560  561  562  563  564  565  566  567  568  569  570  571  572  573
  574  575  576  577  578  579  580  581  582  583  584  585  586  587
  588  589  590  591  592  593  594  595  596  597  598  599  600  601
  602  603  604  605  606  607  608  609  610  611  612  613  614  615
  616  617  618  619  620  621  622  623  624  625  626  627  628  629
  630  631  632  633  634  635  636  637  638  639  640  641  642  643
  644  645  646  647  648  649  650  651  652  653  654  655  656  657
  658  659  660  661  662  663  664  665  666  667  668  669  670  671
  672  673  674  675  676  677  678  679  680  681  682  683  684  685
  686  687  688  689  690  691  692  693  694  695  696  697  698  699
  700  701  702  703  704  705  706  707  708  709  710  711  712  713
  714  715  716  717  718  719  720  721  722  723  724  725  726  727
  728  729  730  731  732  733  734  735  736  737  738  739  740  741
  742  743  744  745  746  747  748  749  750  751  752  753  754  755
  756  757  758  759  760  761  762  763  764  765  766  767  768  769
  770  771  772  773  774  775  776  777  778  779  780  781  782  783
  784  785  786  787  788  789  790  791  792  793  794  795  796  797
  798  799  800  801  802  803  804  805  806  807  808  809  810  811
  812  813  814  815  816  817  818  819  820  821  822  823  824  825
  826  827  828  829  830  831  832  833  834  835  836  837  838  839
  840  841  842  843  844  845  846  847  848  849  850  851  852  853
  854  855  856  857  858  859  860  861  862  863  864  865  866  867
  868  869  870  871  872  873  874  875  876  877  878  879  880  881
  882  883  884  885  886  887  888  889  890  891  892  893  894  895
  896  897  898  899  900  901  902  903  904  905  906  907  908  909
  910  911  912  913  914  915  916  917  918  919  920  921  922  923
  924  925  926  927  928  929  930  931  932  933  934  935  936  937
  938  939  940  941  942  943  944  945  946  947  948  949  950  951
  952  953  954  955  956  957  958  959  960  961  962  963  964  965
  966  967  968  969  970  971  972  973  974  975  976  977  978  979
  980  981  982  983  984  985  986  987  988  989  990  991  992  993
  994  995  996  997  998  999 1000 1001 1002 1003 1004 1005 1006 1007
 1008 1009 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021
 1022 1023 1024 1025 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035
 1036 1037 1038 1039 1040 1041 1042 1043 1044 1045 1046 1047 1048 1049
 1050 1051 1052 1053 1054 1055 1056 1057 1058 1059 1060 1061 1062 1063
 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073 1074 1075 1076 1077
 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087 1088 1089 1090 1091
 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101 1102 1103 1104 1105
 1106 1107 1108 1109 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119
 1120 1121 1122 1123 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133
 1134 1135 1136 1137 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147
 1148 1149 1150 1151 1152 1153 1154 1155 1156 1157 1158 1159 1160 1161
 1162 1163 1164 1165 1166 1167 1168 1169 1170 1171 1172 1173 1174 1175
 1176 1177 1178 1179 1180 1181 1182 1183 1184 1185 1186 1187 1188 1189
 1190 1191 1192 1193 1194 1195 1196 1197 1198 1199 1200 1201 1202 1203
 1204 1205 1206 1207 1208 1209 1210 1211 1212 1213 1214 1215 1216 1217
 1218 1219 1220 1221 1222 1223 1224 1225 1226 1227 1228 1229 1230 1231
 1232 1233 1234 1235 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245
 1246 1247 1248 1249 1250 1251 1252 1253 1254 1255 1256 1257 1258 1259
 1260 1261 1262 1263 1264 1265 1266 1267 1268 1269 1270 1271 1272 1273
 1274 1275 1276 1277 1278 1279 1280 1281 1282 1283 1284 1285 1286 1287
 1288 1289 1290 1291 1292 1293 1294 1295 1296 1297 1298 1299 1300 1301
 1302 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313 1314 1315
 1316 1317 1318 1319 1320 1321 1322 1323 1324 1325 1326 1327 1328 1329
 1330 1331 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341 1342 1343
 1344 1345 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355 1356 1357
 1358 1359 1360 1361 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371
 1372 1373 1374 1375 1376 1377 1378 1379 1380 1381 1382 1383 1384 1385
 1386 1387 1388 1389 1390 1391 1392 1393 1394 1395 1396 1397 1398 1399
 1400 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413
 1414 1415 1416 1417 1418 1419 1420 1421 1422 1423 1424 1425 1426 1427
 1428 1429 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439 1440 1441
 1442 1443 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453 1454 1455
 1456 1457 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467 1468 1469
 1470 1471 1472 1473 1474 1475 1476 1477 1478 1479 1480 1481 1482 1483
 1484 1485 1486 1487 1488 1489 1490 1491 1492 1493 1494 1495 1496 1497
 1498 1499 1500 1501 1502 1503 1504 1505 1506 1507 1508 1509 1510 1511
 1512 1513 1514 1515 1516 1517 1518 1519 1520 1521 1522 1523 1524 1525
 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535 1536 1537 1538 1539
 1540 1541 1542 1543 1544 1545 1546 1547 1548 1549 1550 1551 1552 1553
 1554 1555 1556 1557 1558 1559 1560 1561 1562 1563 1564 1565 1566 1567
 1568 1569 1570 1571 1572 1573 1574 1575 1576 1577 1578 1579 1580 1581
 1582 1583 1584 1585 1586 1587 1588 1589 1590 1591 1592 1593 1594 1595
 1596 1597 1598 1599 1600 1601 1602 1603 1604 1605 1606 1607 1608 1609
 1610 1611 1612 1613 1614 1615 1616 1617 1618 1619 1620 1621 1622 1623
 1624 1625 1626 1627 1628 1629 1630 1631 1632 1633 1634 1635 1636 1637
 1638 1639 1640 1641 1642 1643 1644 1645 1646 1647 1648 1649 1650 1651
 1652 1653 1654 1655 1656 1657 1658 1659 1660 1661 1662 1663 1664 1665
 1666 1667 1668 1669 1670 1671 1672 1673 1674 1675 1676 1677 1678 1679
 1680 1681 1682 1683 1684 1685 1686 1687 1688 1689 1690 1691 1692 1693
 1694 1695 1696 1697 1698 1699 1700 1701 1702 1703 1704 1705 1706 1707
 1708 1709 1710 1711 1712 1713 1714 1715 1716 1717 1718 1719 1720 1721
 1722 1723 1724 1725 1726 1727 1728 1729 1730 1731 1732 1733 1734 1735
 1736 1737 1738 1739 1740 1741 1742 1743 1744 1745 1746 1747 1748 1749
 1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761 1762 1763
 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775 1776 1777
 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789 1790 1791
 1792 1793 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803 1804 1805
 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817 1818 1819
 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831 1832 1833
 1834 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845 1846 1847
 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859 1860 1861
 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873 1874 1875
 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887 1888 1889
 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901 1902 1903
 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915 1916 1917
 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929 1930 1931
 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943 1944 1945
 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959
 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973
 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987
 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999]

In [271]:
# Write a NumPy program to create to concatenate two given arrays of shape (2, 2) and (2,1). 

nums1 = np.array([[4.5, 3.5],
                 [5.1, 2.3]])
nums2 = np.array([[1],
                  [2]])

In [272]:
nums1

array([[4.5, 3.5],
       [5.1, 2.3]])

In [273]:
nums2

array([[1],
       [2]])

In [275]:
np.concatenate((nums1,nums2),axis=1)

array([[4.5, 3.5, 1. ],
       [5.1, 2.3, 2. ]])

In [277]:
# Write a NumPy program to create a 12x12x4 array with random values and extract any array of shape(6,6,3) from the said array. 

nums = np.random.random((12,12,4))
nums[:6,:6,:]

array([[[0.01 , 0.431, 0.36 , 0.632],
        [0.181, 0.636, 0.28 , 0.375],
        [0.543, 0.141, 0.235, 0.658],
        [0.84 , 0.938, 0.207, 0.115],
        [0.73 , 0.654, 0.808, 0.092],
        [0.021, 0.564, 0.838, 0.639]],

       [[0.554, 0.603, 0.569, 0.851],
        [0.107, 0.072, 0.606, 0.01 ],
        [0.871, 0.896, 0.936, 0.577],
        [0.198, 0.392, 0.295, 0.854],
        [0.638, 0.629, 0.162, 0.139],
        [0.136, 0.362, 0.348, 0.862]],

       [[0.246, 0.822, 0.78 , 0.67 ],
        [0.64 , 0.513, 0.676, 0.587],
        [0.269, 0.735, 0.624, 0.755],
        [0.52 , 0.991, 0.741, 0.193],
        [0.56 , 0.768, 0.551, 0.392],
        [0.043, 0.517, 0.577, 0.566]],

       [[0.469, 0.61 , 0.241, 0.139],
        [0.811, 0.878, 0.376, 0.83 ],
        [0.792, 0.165, 0.051, 0.099],
        [0.506, 0.042, 0.351, 0.374],
        [0.467, 0.867, 0.748, 0.342],
        [0.454, 0.438, 0.162, 0.695]],

       [[0.777, 0.941, 0.561, 0.546],
        [0.962, 0.088, 0.096, 0.976],
        [0.129, 0.648, 0.865, 0.802],
        [0.174, 0.763, 0.235, 0.98 ],
        [0.444, 0.639, 0.87 , 0.105],
        [0.501, 0.991, 0.795, 0.062]],

       [[0.799, 0.054, 0.614, 0.479],
        [0.01 , 0.306, 0.953, 0.081],
        [0.822, 0.452, 0.016, 0.008],
        [0.636, 0.279, 0.682, 0.359],
        [0.437, 0.74 , 0.963, 0.783],
        [0.845, 0.822, 0.998, 0.52 ]]])